<html>
    <head>
        <title> Home Page - Продажа квартир </title>
    </head>
<body>
        <h1>Объявления!</h1>

        <input type="submit" value="Добавить объявление" onclick="location.href='/edit'">
        <input type="submit" value="Предсказать цену квартиры" onclick="location.href='/predict'">
        <hr>

        {% for f in flats %}
        <div>
             <hr>
            <form method="post" action="/flats">
                <input type="hidden" name="flatId" value={{f.id}}>
                <p><b>{{ f.title }}</b></p>
                <p>Город: {{ f.city }}</p>
                <p>Этажей в доме: {{ f.floors_total }}</p>
                <p>Стоимость: {{ f.cost }}</p>
                <input type="submit" value="Посмотреть">
            </form>
        </div>
        {% endfor %}
    </body>
</html>